<?xml version="1.0"?>
<launch>

  <node name="image" pkg="vimjay" type="image.py"
      args="$(find vimjay)/data/gradient_box.png"
      output="screen" >
    <remap from="camera_info" to="camera_info_unused" />
  </node>

  <node name="image_view_src" pkg="image_view" type="image_view"
      output="screen" >
    <remap from="image" to="image" />
  </node>
  <node name="dr_camera_info" pkg="vimjay" type="dr_camera_info.py"
      output="screen" >
  </node>

  <group ns="distort" >
  <node name="distort" pkg="vimjay" type="distort_image"
      output="screen" >
    <remap from="image" to="/image" />
    <remap from="camera_info" to="/camera_info" />
  </node>
  <node name="image_view_distort" pkg="image_view" type="image_view"
      output="screen" >
    <remap from="image" to="distorted/image" />
  </node>

  <node name="image_proc" pkg="image_proc" type="image_proc"
      output="screen" >
    <remap from="image_raw" to="distorted/image" />
    <remap from="camera_info" to="distorted/camera_info" />
  </node>
  <node name="image_view_rect" pkg="image_view" type="image_view"
      output="screen" >
    <remap from="image" to="image_rect" />
  </node>
  </group>
</launch>
