<?xml version="1.0"?>
<launch>
  
  <group ns="vimjay" >
    <param name="graph_file" value="$(find vimjay)/config/default_graph.yml" />
    <node name="vimjay1" pkg="vimjay" type="vimjay_node" 
        respawn="false" output="screen" >
    </node>

    <node name="key_input1" pkg="vimjay" type="key_input.py"
        respawn="false" output="screen" >
    </node>
  
    <node name="rqt_image_view1" pkg="rqt_image_view" type="rqt_image_view" />
    <!-- image view is very resource intensive -->
    <!--node name="image_out1" pkg="image_view" type="image_view"
        respawn="false" output="screen" >
      <remap from="image" to="cam_thing" />
    </node-->

  </group> <!-- vimjay -->
</launch>
