<?xml version="1.0"?>
<launch>
  <arg name="device" default="0" />
  <arg name="width" default="1280" />
  <arg name="height" default="720" />

  <!--
  <arg name="width" default="1280" />
  <arg name="height" default="1024" />
  <arg name="small_width" default="320" />
  <arg name="small_height" default="256" />
  -->
  <!-- The above values need to be width/decimation and height/decimation -->

  <arg name="frame_rate" default="30" />

  <arg name="use_usb_cam" default="true" />
  <arg name="use_libuvc_camera" default="false" />

  <group if="$(arg use_usb_cam)">
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node"
      output="screen" >
    <param name="image_width" value="$(arg width)" />
    <param name="image_height" value="$(arg height)" />
    <param name="framerate" value="$(arg frame_rate)" />
    <param name="video_device" value="/dev/video$(arg device)" />
  </node>
  </group>

  <group if="$(arg use_libuvc_camera)" ns="usb_cam" >
  <node name="uvc_camera" pkg="libuvc_camera" type="camera_node" 
      output="screen">
    <!-- Parameters used to find the camera -->
    <param name="vendor" value="0x0"/>
    <param name="product" value="0x0"/>
    <param name="serial" value=""/>
    <!-- If the above parameters aren't unique, choose the first match: -->
    <param name="index" value="$(arg device)"/>

    <!--param name="scanning_mode" value="1" /-->
    <!-- Image size and type -->
    <param name="width" value="$(arg width)"/>
    <param name="height" value="$(arg height)"/>
    <!-- choose whichever uncompressed format the camera supports: -->
    <param name="video_mode" value="uncompressed"/>  <!-- or yuyv/nv12/jpeg -->
    <param name="frame_rate" value="$(arg frame_rate)"/>

    <param name="timestamp_method" value="start"/>  <!-- start of frame -->
    <!--param name="camera_info_url" value="file:///tmp/cam.yaml"/-->

    <param name="auto_exposure" value="0"/>  <!-- use aperture_priority auto exposure -->
    <param name="auto_white_balance" value="false"/>
  </node>
  </group>  <!-- use_libuvc_camera -->

  <node name="v4l2ucp" pkg="v4l2ucp" type="v4l2ucp" >
    <param name="device" value="/dev/video$(arg device)" />
  </node>
  <!-- TODO(lucasw) Need to delay launch of this until the v4l2ucp node above
    has complete creating all the parameters- maybe it should publish an 'update'
    signal? -->
  <node name="v4l2ucp_ddr" pkg="rqt_v4l2ucp" type="dr_topics.py" >
  </node>

</launch>
